[user]
    name = Florin Popa
    email = 456185+FlorinPopaCodes@users.noreply.github.com
    signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIBoDrobY6yVanyC6bncei3kseeYawWXwrdT+i+cSsAiz
[color]
    ui = auto
[log]
    date = iso
[status]
    showStash = true
[push]
    default = current
    autoSetupRemote = true
    followTags = true
[fetch]
    prune = true
    pruneTags = true
    fsckobjects = true
[transfer]
    fsckobjects = true
[receive]
    fsckObjects = true
[pull]
    rebase = true
[rebase]
    autoStash = true
    autoSquash = true
    updateRefs = true
    missingCommitsCheck = error
[rerere]
    enabled = true
[init]
    defaultBranch = main
[core]
    pager = delta
    excludesfile = ~/.gitignore_global
    hooksPath = ~/.git-hooks
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
[commit]
    gpgsign = true
    verbose = true
[gpg]
    format = ssh
[gpg "ssh"]
    program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
[url "ssh://git@github.com/"]
    insteadOf = https://github.com/
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true    # use n and N to move between diff sections
    line-numbers = true
    side-by-side = true
[merge]
	conflictStyle = zdiff3
[diff]
    colorMoved = default
    algorithm = histogram
[branch]
    sort = -committerdate
    autoSetupMerge = simple
[tag]
    sort = -version:refname
[help]
    autocorrect = prompt
[gitbutler]
	aiModelProvider = anthropic
	aiAnthropicKeyOption = butlerAPI
[merge "mergiraf"]
	name = mergiraf
	driver = mergiraf merge --git %O %A %B -s %S -x %X -y %Y -p %P -l %L

# Include local overrides (not tracked by git)
[include]
    path = ~/.gitconfig.local
